<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonic</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    
<div class ="page-wrapper">

    <header>
        <h1>Sonic the Hedgehog</h1>
    </header>
    
    <nav>
        <a href="#Sonic">Sonic</a>
        <a href="#Tails">Tails</a>
        <a href="#Knuckles">Knuckles</a>
    </nav>

    <main>

        <figure>
        <img src="sonic.png" alt="Sonic the Hedgehog">
        <figcaption>Sonic The Hedgehog</figcaption>
        </figure>
        
        <p>
            Sonic the Hedgehog is a video game character created by Sega. He is a blue hedgehog known for his incredible speed and adventurous spirit. Sonic has been featured in numerous video games, TV shows, and comics since his debut in 1991. He is super awesome and is one of my favorite characters.
        </p>

        <p>
            Sonic's main ability is his speed, which allows him to run very fast and perform cool moves. He is also known for his spin dash, where he curls into a ball and attacks enemies. Sonic's adventures often involve battling the evil Dr. Eggman and saving people from danger. 
        </p>
    </main>

    <footer>
        <p>&copy; 2026 Sonic Fan Site by Elias</p>
    </footer>
</div>
</body>
</html>