nav {
    background-color: #f0f0f0;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}

aside {
    display: flex;
    flex-direction: column;
    float: left;
    background-color: #e0e0e0;
    padding: 10px;
    width: 200px;
    height: 1000px;

}

section {
    margin-bottom: 200px;
    padding: 0px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
}